{{#each tracks}}

  <div class="album container">
      <h1>{{artistName}}</h1>

      <h2 class ='track-name' data-id='{{trackId}}'>{{trackName}}</h2>
      <h3>{{albumName}}</h3>
      <img src="{{almbumImageUrl}}">
  </div>

{{/each}}
